* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    
}


nav {
    background: linear-gradient(rgba(19, 81, 119, 0.438), rgba(19, 81, 119, 0.438)), url('images/slider\ img.png');
    width: 100%;

    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navcontainer {
    padding: 3%;
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;

    color: white;
}

.searchicon {
    background-image: url(images/search.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    margin-top: 15px;
    margin-left: 5px;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    /* font-weight: 200; */
    font-size:15px ;
    font-family: 'Open Sans', sans-serif;
}

.navbar-links li a:hover {
    color: blue;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 700px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;

        width: 50%;
        float: right;

    }

    .searchicon {
        margin-left: 35%;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        background-color: #333;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;


    }

    .navbar-links ul li a {
        padding: .8rem 1.1rem;

    }


    .navbar-links.active {
        display: flex;

    }

}

.pContainer {
    position: absolute;
    top: 40%;
    left: 30%;
}

.p1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3px;
    color: rgba(255, 255, 255);
    opacity: 0.9;
    text-align: center;
}

.p2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 600;
    font-stretch: normal;
    color: white;
    text-align: center;
}

.pContainer button {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    width: 200px;
    height: 30px;
    border-radius: 3px;
    background-color: #02a4ef;
    border: none;
    color: white;
    margin-top: 10%;
    margin-left: 30%;

}

.parentDiv {
    margin-top: 3%;
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftDiv {
    width: 40%;
}

.leftDiv p {
    font-size: 22px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;

}

.leftDiv span,
.bottomDiv span {
    font-size: 22px;
    font-weight: bold;
}

.rightDiv {
    width: 50%;
}

.rightDiv p {
    margin-bottom: 1%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}



.section2 {
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;


}

.divgrid3 {
    display: grid;
    grid-auto-columns: minmax(15rem, auto);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 20px;
}

.divgrid3 div {
    position: relative;
    margin-left: 1%;
    margin-bottom: 1%;
    height: 180px;
}

.section2 div p {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.53);

    font-size: 15px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.div1 {
    background-image: url('/images/Group\ 123.png');
    background-repeat: no-repeat;

    background-size: cover;

}

.div2 {
    background-image: url('/images/Group\ 124.png');
    background-size: cover;
}

.div3 {
    background-image: url('/images/Group\ 125.png');
    background-size: cover;
}

.div4 {
    background-image: url('/images/Group\ 126.png');
    background-size: cover;
}

.div5 {
    background-image: url('/images/Group\ 127.png');
    background-size: cover;
}

.div6 {
    background-image: url('/images/Group\ 128.png');
    background-size: cover;
}

.div7 {
    background-image: url('/images/Group\ 129.png');
    background-size: cover;
}

.section3 {
    width: 90%;
    margin-top: 5%;
}

.wrapper {

    align-items: center;
    display: flex;
    justify-content: space-between;
}

.wrapper .leftdivv {
    background-image: url('images/Group\ 101.png');
    width: 50%;
    margin-right: 5%;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;

}

.wrapper .rightdivv {

    width: 50%;
    

}


.wrapper .rightdivv a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    /* font-weight: 00; */
    color: #02a4ef;
}

.wrapper .rightdivv span {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
   
}

.wrapper .rightdivv p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.wrapper .rightdivv button {
    font-family: 'Open Sans', sans-serif;
    width: 180px;
    height: 40px;
    background-image: linear-gradient(to right, #02a4ef, #458bac);
    ;
    border: none;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

@media only screen and (max-width:1600px) {
    .wrapper {
        flex-direction: column;
    }
}

.section4 {
    margin-top: 5%;
}

.title {
    text-align: center;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#boldSpan {
    display: inline;
    /* opacity: 1; */
    font-size: 23px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.title span {
    font-size: 22px;
    font-weight: 300;
    opacity: 0.9;
    font-family: 'Open Sans', sans-serif;
}

.title h2 {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.9;
    font-size: 30px;
}

.divgrid {
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;
    display: grid;
    grid-auto-columns: minmax(15rem, auto);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 20px;
}

.divgrid>div {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    /* border: 1px solid #ccc; */
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    border: none;
    height: 280px;
    margin-bottom: 2%;
}

.divgrid>div img {
    max-width: 100%;
    padding: 20px;
}

.texttt {
    padding: 0 20px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    
   
}

.texttt h3 {
    margin-bottom: 6%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.section5 {
    background-image: url("images/dots-pattern.png");
    margin-top: 5%;
    width: 100%;
    padding-top: 12%;
    padding-bottom: 12%;
    /* padding: 15%; */
    background-color: #0d31a8;
    border: 1px blue solid;
    position: relative;
}

.section5 .parent {
    width: 90%;
    margin-left: 5%;
    text-align: center;
    display: flex;

    color: white;
    position: relative;
    justify-content: center;

    font-family: 'Open Sans', sans-serif;
    text-align: left;
    position: absolute;
    top: 20%;

}

.leftside {

    width: 40%;
    font-size: 35px;
    font-weight: bold;

}

.rightside {

    width: 60%;
    font-size: 17px;
    font-weight: 100;
    
}

.divDivider .dividerP {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

/* section 6 */
.section6,
.section9 {
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;
}

.card {
    border: none !important;
}

.card>img {

    background-color: #f7f7f7;
    ;

}

/* section 8 */
.section8 {
    margin-top: 5%;

    width: 100%;

}

.sec8wrapper {
    display: flex;
    justify-content: space-around;
}

.wrapleftside {
    background-color: white;
    padding: 20px 40px 20px 40px;
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.1);
}

.sec8left {
    padding: 10px 10px 10px 20px;
    align-items: center;
    /* padding: 60px; */
    background-color: #f7f7f7;

    margin-left: 5%;
    margin-top: 2%;
    /* margin-bottom: 2%; */

  border: none;
 
   
    width: 55%;
    /* margin-left: 5%; */
    margin-right: 2%;
    /* background-color: #fff; */
}

.sec8left h1{
    font-family:'Open Sans', sans-serif;
 font-weight: 700;
    font-size: 32px; 
 } 
 
.sec8left p{
    font-family:'Open Sans', sans-serif;
 font-weight: 400;
    font-size: 18px; 
 } 
.sec8right {
    width: 40%;

}

.theaccordion {

    margin: 4rem auto;
    border: none;


}

.accordionn-itemm {
    border-radius: 50px;
   
    color: #111;
    margin: 1rem 0;
    width: 450px;

}

.accordionn-item-headerr {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    color: #000;
    border-radius: 50px;

    padding: 0.3rem 2rem 0.3rem 1rem;
    min-height: 2.5rem;
    line-height: 1.25rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;  
    font-weight: 500;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.accordionn-item-headerr::after {
    content: "\002B";
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;

}

.accordionn-item-headerr.active {
    background-image: linear-gradient(to right, #02a4ef, #0699ae 39%, #0a9075 99%);
    color: #fff;
}

.accordionn-item-headerr.active::after {
    content: "\2212";
    font-size: 1.5rem;

}

.accordionn-item-bodyy {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
}

.accordionn-item-body-contentt {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

/* @media(max-width:767px) {
    html {
      font-size: 14px;
    }
  }  */
.sec8right img {
    width: 100%;
    height: 700px;
}


/* section 10 */
.section10 {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

.divgrid2 {
    display: grid;
    grid-auto-columns: minmax(30rem, auto);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 10%;

    /* margin-right:auto ; */
}

.divgrid2>div {
    /* height: 500; */
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.16);
    border: none;
    position: relative;
    background-color: #fff;
    
}

.newsbtn,
.eventbtn {
    padding-left: 5px;
    position: absolute;
    /* background-color: blue; */
    top: 30%;

    right: 10%;
    width: 60px;
    font-size: 10px;
    height: 20px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #0d31a8;
    background-image: url("images/wifi.svg");
    background-repeat: no-repeat;
    background-position: 5px;
    ;
    background-size: 10px 10px;
    color: #fff
}

.eventbtn {
    background-color:
        #02a4ef;
    background-image: url("images/calender.svg");
}



.divgrid2>div img {
    max-width: 100%;
    padding: 10px;
}

/* hr{
    opacity: 0.5;
} */
.cardspan {
    color: #c4c4c4;
    font-size: 12px;
}

/* section 11 */
.section11 {
    padding: 5% 0 5% 5%;

    background-image: url("images/contact.png");
    margin-top: 5%;
    width: 100%;

    color: #fff;

    line-height: normal;
    letter-spacing: normal;
    
}

.section11 button {
    width: 230px;
    height: 45px;

    font-size: 18px;
    font-weight: bold;
    border: solid 1px #707070;
    background-color: #fff;
}

.section11 .containdiv {
    width: 50%;
}

.section11 #firstP {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;  
   
   


}

.containdiv span {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;  
    font-weight: 600;
    font-size: 28px;
}

.section11 #secondP {
    font-size: 26px;

}

/* section12 */

.section12 {
    background-color: #202020;
    color: white;
    /* height: 350px; */
    /* padding: 15%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10%;
    padding: 2% 2% 4% 4%;

}

.leftfooter img {
    width: 120px;
}

.leftfooter p,
.rightfooter span,
.rightfooter p {

    font-size: 14px; 

    font-family: 'Open Sans', sans-serif;
   
   
}

.rightfooter {
    width: 70%;
}

.rightfooter p {
    text-align: right;
}

.rightfooter p img {
    width: 25px;
    padding-left: 10px;
}

.rightfooter input {
    width: 400px;
    height: 35px;
    background-image: url("images/sendicon.svg");
    background-repeat: no-repeat;
    background-position: right;
}

@media only screen and (max-width: 1000px) {
    nav {
        object-fit: cover;
    }

    .navcontainer,
    .navbar {
        display: block;

    }

    .pContainer {
       
        text-align: center;
        margin: auto;
  width: 50%;

    }

    .pContainer button {
        margin: auto;
    }

    /* section 2 */
    .parentDiv {
        margin-left: 25%;
        display: block;
        text-align: center;

    }

    /* section 8 */
    .sec8wrapper {
        display: block;
    }

    .sec8left
     {
        width: 90%;
        align-items: center;
    }
    .sec8right{
        width: 80%;
        
        margin-left: 10%;
    }

    .accordionn-itemm {

        width: 100%;
    }

    /* section 12 */
    .section12 {

        display: block;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        padding: 5%;
    }


    .wrapper .leftdivv {
        width: 100%;

        height: 250px;
        margin-right: 0;

    }

    .wrapper .rightdivv {

        text-align: center;
    }

    .section5 {
padding-top: 300px;
padding-bottom: 450px;


    }

    .section5 .parent {
        text-align: center;
        top: 0px;
        display: block;
        margin-left: 25%;
    }

    .card img {

        height: 100px !important;
    }

    .divDivider {
        display: flex;
        justify-content: space-evenly;
    }

    /* section 10 */
    .section10 {
        margin-bottom: 400px;
    }

    .newsbtn,
    .eventbtn {
        right: 30px
    }

    /* section 11 */
    .section11 {
        background-size: cover;

        background-repeat: no-repeat;
        text-align: center;
        /* padding: 5% 25% 5% 25%; */
       
    }
    .section11 .containdiv{
 margin-left: 25%;
    }
   


}
/* @media only screen and (min-width: 601px) and (max-width:991) {
    .section5{
       height: 1000px;
    }
    
  } */