* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
  }
  
nav {
    background: linear-gradient(rgba(19, 81, 119, 0.438), rgba(19, 81, 119, 0.438)), url('images/slider\ img.png');
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
background-repeat: no-repeat;
}
.navcontainer{
    padding: 3%;
    display: flex;
    justify-content: space-between;
}
ul{
    list-style-type: none;
}
.searchicon{
    background-image: url(images/search.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
}
li {
    float: right;
    direction: rtl;
  }
  
  li a {
    
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.pContainer {
    position: absolute;
    top: 40%;
    left: 30%;
}

.p1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3px;
    color: rgba(255, 255, 255);
    opacity: 0.9;
    text-align: center;
}

.p2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 38px;
    font-weight: 700;
    font-stretch: normal;
    color: white;
    text-align: center;
}

.pContainer button {

    width: 200px;
    height: 30px;
    border-radius: 3px;
    background-color: #02a4ef;
    border: none;
    color: white;
    margin-top: 10%;
    margin-left: 30%;

}

.parentDiv {
    margin-top: 3%;
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftDiv {
    width: 40%;
}

.leftDiv p {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.leftDiv span,
.bottomDiv span {
    font-size: 22px;
    font-weight: bold;
}

.rightDiv {
    width: 50%;
}

.rightDiv p {
    margin-bottom: 1%;
    font-weight: 200;
}

.bottomDiv {
    margin-top: 5%;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.section2 {
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;
}

.section2 div {
    position: relative;
    width: 23%;
    margin-left: 1%;
    margin-bottom: 1%;
    height: 180px;
   
    /* object-fit: cover; */
    /* background-repeat: no-repeat; */
    display: inline-block;

}
.section2 div p{
    color:white;
    position: absolute;
    bottom:10px;
    left:10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.53);
  
  font-size: 15px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.div1{
    background-image: url('/images/Group\ 123.png');
    background-size: cover;
}
.div2{
    background-image: url('/images/Group\ 124.png');
    background-size: cover;
}
.div3{
    background-image: url('/images/Group\ 125.png');
    background-size: cover;
}
.div4{
    background-image: url('/images/Group\ 126.png');
    background-size: cover;
}
.div5{
    background-image: url('/images/Group\ 127.png');
    background-size: cover;
}
.div6{
    background-image: url('/images/Group\ 128.png');
    background-size: cover;
}
.div7{
    background-image: url('/images/Group\ 129.png');
    background-size: cover;
}
.section3{
    width: 90%;
    margin-top: 5%;
}
.wrapper{
    
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.wrapper .leftDiv{
    background-image: url('images/Group\ 101.png');
    width: 50%;
    margin-right: 5%;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.wrapper .rightDiv{
    
    width: 50%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 18px;
    
}
.wrapper .rightDiv a{
    text-decoration: none;
    color: #02a4ef;
}
.wrapper .rightDiv span{
font-size: 25px;
}
.wrapper .rightDiv p{
    font-size: 19px;   
}
.wrapper .rightDiv button{
    width: 180px;
    height: 40px;
background-image: linear-gradient(to right, #02a4ef , #458bac);;
    border: none;
    color: white;
}
.section4{
    margin-top: 5%;
}
.section4 .title{
    text-align: center;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.section4 .title span{
    font-size: 19px;
    font-weight: 100;
    opacity: 0.4;
}
.section4 .title h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   opacity: 0.8;
  font-size: 30px;
}
.grid { 
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;
    display: grid;
    grid-auto-columns: minmax(15rem, auto);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 20px;
    }
  .grid > div {
    /* border: 1px solid #ccc; */
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
   border: none;
    height: 280px; 
    margin-bottom: 2%;
  }
  .grid > div img {
    max-width: 100%;
    padding: 20px;
  }
  .text {
    padding: 0 20px 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
  }
 .text h3{
    margin-bottom: 6%;
 }
 .section5{
    background-image: url("images/dots-pattern.png");
    margin-top: 5%;
    width: 100%;
    height: 300px;
    background-color: #0d31a8;
    border: 1px blue solid;
    position: relative;
 }
 .section5 .parent{
    width: 90%;
    margin-left: 5%;
    text-align: center;
    display: flex;
    /* justify-content: space-around; */
    color: white;
    position: relative;
    justify-content: center;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  position: absolute;
  top: 20%;
    
 }
 .leftside{
  
    width: 40%;
font-size: 35px;
font-weight: bold;

 }
 .rightside{
    
    width: 60%;
    font-size: 18px;
    font-weight: 100;
 }
 .divider p{
    text-align: center;
    font-size: 35px;
font-weight: bold;
 }
/* section 10 */
.section10{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}
.grid2{
    display: grid;
    grid-auto-columns: minmax(30rem, auto);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 10%;
  
    /* margin-right:auto ; */
}
.grid2 > div{
    height: 500;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.16);
    border: none;
    position: relative;
}
.newsbtn,.eventbtn{
    padding-left: 5px;
    position: absolute;
    /* background-color: blue; */
    top:35%;

    right:10%;
    width: 60px;
    font-size: 10px;
  height: 20px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #0d31a8;
background-image: url("images/wifi.svg");
background-repeat: no-repeat;
background-position:  5px;;
background-size: 10px 10px;
  color:#fff
}
.eventbtn{
    background-color: 
    #02a4ef;
    background-image: url("images/calender.svg");
}
   
  

.grid2 > div img {
    max-width: 100%;
    padding: 10px;
}
.title2{
    text-align: center;
    font-size: 24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
opacity: 0.9;
}

hr{
    opacity: 0.5;
}
.cardspan {
    color: #c4c4c4;
    font-size: 12px;
}

 /* section 11 */
 .section11{
     padding: 5% 0 0 5%;
     /* margin: 0; */
    background-image: url("images/contact.png");
    margin-top: 5%;
    width: 100%;
    height: 300px;
    color: #fff;
    
    line-height: normal;
  letter-spacing: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .section11 button{
    width: 230px;
    height: 45px;
    /* margin: 32px 362px 0 0;
    padding: 14px 108px; */
    font-size: 18px;
    font-weight: bold;
    border: solid 1px #707070;
    background-color: #fff;
 }
 .section11 .container{
    width: 50%;
 }
 .section11 #firstP{
    font-size: 20px;
    
    
 }
 .container span{
    font-weight: bold;
    font-size: 32px;
 }
 .section11 #secondP{
    font-size: 27px;
    
 }

/* section12 */

.section12{
    background-color: #202020; 
    color: white;
     height: 300px;
     display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 10%; 
    padding: 4%;
    
}
.leftfooter img{
    width: 120px;
}
.leftfooter p, .rightfooter span,.rightfooter p{
    
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.rightfooter{
    width: 70%;
}
.rightfooter p{
    text-align: right;
}
.rightfooter p img{
    width: 25px;
    padding-left:10px ;
}
.rightfooter input{
    width: 400px;
    height: 35px;
    background-image: url("images/sendicon.svg");
    background-repeat: no-repeat;
    background-position:right;
}
@media only screen and (max-width: 600px) {
    nav{
        margin-left: 25%;
    }
.navcontainer,.navbar{
    display: block;

}
    .section12{
       
        display: block; 
        grid-template-columns: 1fr 1fr; 
        grid-gap: 20px; }
        .wrapper{
            display: block;
           margin-left: 25%;
           text-align: center;
        }
        .wrapper .leftDiv{
            width: 100%;
        }
        .section5{
            height: 600px;

        }
        .section5 .parent{
            display: block;
            /* text-align: center; */
            /* vertical-align: middle; */
            align-items: center;
            padding-top: 2%;
            top:10%;
        }
        .section10{
            height: 1800px;
        }
        .newsbtn,.eventbtn{
            right:80px
        }
        .section11{
            height: 400px;
        }
        .section12{
            height: 500px;
        }
        
        
}
/* 
.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  } */